<div class="static">
<div class="center jumbotron">
  <img src="assets/himanchu_2.png">
<br>
  <h2>
    グループみんなが暇な日を教えてくれるアプリです。
  </h2><br>

  <%= link_to "Sign up",signup_path , class: "btn btn-lg btn-primary" %>
</div>
</div>
