<div class="static">
<div class="center jumbotron">
  <img src="assets/himanchu.png">

  <h2>
    グループみんなが暇な日を教えてくれるアプリです。
  </h2>

  <%= link_to "Sign up now!",signup_path , class: "btn btn-lg btn-primary" %>
</div>
</div>
