<div class="edit">
予定追加<br><br>
<%= form_tag("/event/create") do%>

予定
<input type="text" name="event"><br>
日付
<input type="date" name="start_date"><br>
時間
<input type="time" name="time"><br><br>

詳細<br>
<textarea name="description"></textarea><br><br>
<input type="submit" value="追加"><br><br>
<%= link_to("戻る", "/home/top")%>　
<%end%>
</div>
