<h1>Add Schedule</h1><br><br>
<div class="edit">

<%= form_tag("/event/create") do%>
<br><br>
<p>予定</p>
<input type="text" name="event"><br>
<p>日付</p>
<input type="date" name="start_date"><br>
<p>時間</p>
<input type="time" name="time"><br>

<p>詳細</p>
<textarea name="description"></textarea><br>
<input type="submit" value="追加"><br>
<%= link_to("戻る", "/home/top")%>　
<%end%>
</div>
