/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 #logo{
     color: #63513D;
     
 }

  
 #menu a{
    color: #63513D;
    font-family: 'Titillium Web','Noto Sans JP', sans-serif;
 }

 /*body{
     padding-bottom: 60px;
     padding-top: 0;
     top: 0px;
     left: 0px;
     opacity: 0.5;
     background: url('patter.png') 0% 0% no-repeat padding-box;
     background-size: cover;
     background-position: center center;
     background-attachment: fixed;
     background-repeat: no-repeat;
    
     
 }*/

 /* body::before { 
    position: relative;
    padding: 0 0;
   } */
  
  .body{

    position: relative;
    padding: 0 0;
    display: block;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    /* background: url('back.png') 0% 0% no-repeat padding-box;  */
    /* background-color: white;  */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    /* opacity: .3;  透過度を適宜指定してください */
    z-index: -1;
    margin: 0;
  }
 






h1, h2, p, tr, td, a, i{
  font-family: 'Titillium Web','Noto Sans JP', sans-serif;
  color: #63513D;
  margin: 0 0;
}

header > a{
  color: white;
}



.english p{
  
    float: left;
    
}

#eng{
  position: relative;
  height: 100%;
  width: 40%;
  font-size: 90px;
  color:#63513D;
  left: 4%;
}


/*.year {
  position: relative;
  background-color: #44aeea;
  border-radius: 50%;/* ←円を作る 
  right: 150px;
  bottom: 650px;
  text-align: center;
  height: 500px;
  width: 500px;
}*/

#year {
  position: relative;
  font-size: 30px;
  /* top: 250px; */
  
  /* color: #ffffff; */
  letter-spacing: 5px;
  top: 70px;
  text-align: left;
  float: left;
  right: 50px;
}

.month p{
  position: relative;
  font-size: 180px;
  /* top: 20%; */
  
  
  /* color: #ffffff; */
  letter-spacing:10px;
  

}

.messeage{
  clear: both;
}


.month {
  position: relative;
  /* background-color: #b4cb32; */
  /*border-radius: 50%;/* ←円を作る 
  bottom: 900px;*/
  left: 100px;
  top: 20px;
}

.data{
  
  height:250px;
  margin: 0 auto;
  /* margin-bottom: 200px;; */
}


#user {
  position: relative;
  font-size: 40px;
  
  /* color: white; */
  margin: 0 0;
  top: 55px;
  left: 25%;
}

/*
.button{
  position: relative;
  top: 70px;
  left: 90%;
  cursor: pointer;
  width: 120px;
  height: 50px;
  display: block;
  background-color: none;
  z-index: 2;
}

#button_sun{
  position: relative;

  cursor: pointer;
  width: 42px;
  height: 42px;
  display: block;
  background-color: none;
  z-index: 2;
}

.sun{
  z-index: 1;
}


#button_moon{
  position: relative;
  bottom: 42px;
  left: 52px;
  cursor: pointer;
  width: 42px;
  height: 42px;
  display: block;
  background-color: none;
  z-index: 2;
}

.moon{
  z-index: 1;
}

*/

.switch_mode{
  position: fixed;
  top: 13px;
  left: 80%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
}

i{
  z-index: 3;
}

.dropdown-menu{
  z-index: 5;
}