// Place all the styles related to the event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th:nth-child(1) > p{
    background-color:  rgb(245, 11, 50);
    color: #ffffff;
  }
  
  th:nth-child(7)  > p{
    background-color: rgb(7, 52, 252);
    color: #ffffff;
  }
  
td:nth-child(1)  > p{
    background-color:  rgb(245, 11, 50);
    color: #ffffff;
  }
  
  
  td:nth-child(7)  > p{
    background-color: rgb(7, 52, 252);
    color: #ffffff;
  }


  td:nth-child(1)  > p{
    
    background-color: transparent;
  }
  
  
  td:nth-child(7)  > p{
    
    background-color: transparent;
  }

  .day p{
    font-size: 30px;

}
  .year1 {
    position: relative;
    background-color: rgb(245, 11, 50);
    border-radius: 50%;/* ←円を作る */
    right: 150px;
    bottom: 650px;
    text-align: center;
    height: 500px;
    width: 500px;
  }
  
  .year1 p{
    position: relative;
    font-size: 80px;
    top: 250px;
    left: 20px;
    color: #ffffff;
  }
  .month1 p{
    position: relative;
    font-size: 60px;
    top: 20%;
    color: #ffffff;
  }
  
  
  .month1 {
    position: relative;
    background-color: rgb(36, 248, 64);
    border-radius: 50%;/* ←円を作る */
    bottom: 900px;
    left: 220px;
    text-align: center;
    height: 250px;
    width: 250px;
  }
  
  .data1{
    padding-top: 100px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 200px;;
  }
  
  .user1 {
    position: relative;
    background-color: rgb(237, 253, 4);
    border-radius: 50%;/* ←円を作る */
    bottom: 150px;
    left: 600px;
    text-align: center;
    height: 400px;
    width: 400px;
    
  }
  .user1 p{
    position: relative;
    font-size: 35px;
    top: 230px;
    left: 10px;
    color: black;
    margin: 0 0;
  }
  
  .messeage{
      position: relative;
      padding: 29px;
  }

 .edit{
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 300px;
 }