// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



th{
    width:150px; height:100px;
    margin:5px; padding:10px; 
    text-align:center;
    border-radius: 50%;
    vertical-align : top;
    // background-color: #c9c9c9;
    
}

th:nth-child(1) {
  // background-color: #e4c4db;
  //color: #ffffff;
  color: rgba(255,0,0, 0.7);
}

th:nth-child(7) {
  // background-color: #b2d6d4;
  //color: #ffffff;
  color: rgba(0, 0, 255, 0.7);
}

td:nth-child(1) {
  // background-color:  #e4c4db;
  //color: #ffffff;
  color: rgba(255,0,0, 0.7);
}

td:nth-child(1) a{
  // color: #ffffff;
  color: rgba(255,0,0, 0.7);
}
td:nth-child(7) a{
  // color: #ffffff;
  color: rgba(0,0,255, 0.7);
}

td:nth-child(7) {
  //background-color: #b2d6d4;
  //color: #ffffff;
  color: rgba(0,0,255, 0.7);
}


td:nth-child(1)  p{
  background-color: transparent;
  
}


td:nth-child(7)  p{
  background-color: transparent;
}

td{
    text-align:center;
    width:150px; height:150px;
    margin:5px; padding:10px; 
    border-radius: 50%;    
    vertical-align : top;
    // background-color: #c9c9c9;
    font-family: 'Titillium Web', sans-serif, ;
}


tr{
  font-size: 30px;
  // color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}

.month_button > input{
  height:10px;
  width:30px;
  display: inline-block;

  background-color: #ffffff;
}

.month_button{
  position: relative;
  clear: both;
  left: 10%;
}

table, th, td {
  border: none;
}

table{
  border-collapse: separate;
  border-spacing: 8px;
  padding-top: 20px;
  padding-bottom: 50px;
}

td > a{
  // color: #ffffff;
 
  font-size: 15px;
}



td > p{
  //color: #ffffff;
  
  font-size: 15px;
  margin: 0 0;
  background-color: transparent;
}

.day{
  font-size: 30px;
}

.up{
  position: relative;
  bottom: 30px;
  margin: 0 auto;
}

